img {
    max-width: 100%;
    height: 20vh;
}

.Card {
    width: 6rem;
    height: 16vh;
    border: 2px solid green;
    align-content: center;
    overflow: hidden;
    margin: 5px 5px 5px 5px;
}

.button {
    align-content: center;
    float: left;
    margin: 10px 30px 10px 90px;
}